#root {
  width: 100vw;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  padding: 2em;
}

#canvas {
  min-height: 100%;
  display: grid;
  grid-template: auto 1fr auto / auto  1fr;
  grid-template-areas: 
    "title page"
    "nav   page"
    "foot  foot";
  gap: 2rem;
}

#title {
  grid-area: title;
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  display: flex;
  gap: 0.8rem;

  & h1 {
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 0.78;
    margin: 0;

    & span {
      font-size: 2.2rem;
    }
  }

  & img {
    height: 2rem;
  }
}

#nav {
  grid-area: nav;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;

  & a {
    color: var(--text-colour);
    font-size: 1.2rem;
    font-weight: 100;
    padding: 0.5rem 0;
  }

  & a:hover {
    color: palevioletred;
  }

  & hr {
    color: var(--text-colour);
  }
}

#page {
  grid-area: page;
  width: 100%;
  height: 100%;
}

#gallery-flex {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;

  & .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  /* Each card must be treated as a single block inside a column */
  & .item {
    break-inside: avoid;
    width: 100%;
  }

  /* Make images fill their column width */
  & .item img {
    width: 100%;
    height: auto;
    display: block;
  }
}

#foot {
  grid-area: foot;
  width: 100%;
  height: 100%;
  justify-items: center;
  font-size: smaller;
}


