#root {
  width: 100vw;
  min-height: 100%;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  padding: 2em;
}

#canvas {
  padding: 2rem;
  min-height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template: auto 1fr auto / auto  1fr;
  grid-template-areas: 
    "title page"
    "nav   page"
    "foot  foot";
  gap: 2rem;
}

#canvas-mobile {
  min-height: 100%;
  max-width: 100svw;
  box-sizing: border-box;
  display: grid;
  grid-template: auto 1fr auto / auto;
  grid-template-areas: 
    "nav"
    "page"
    "foot";
  gap: 1rem;
}

h1{
  width: max-content;
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 0.78;
  margin: 0;

  & span {
    font-size: 1.8rem;
  }
}

@media (max-width: 1000px) {
  .narrow {
    width: min-content;
  }
}

h2 {
  width: max-content;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 0.78;
  margin: 0;
}

p, ul, li, ol {
  font-weight: 200;
  line-height: 1.6rem;
  letter-spacing: 0.5px;
}

#title {
  grid-area: title;
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  display: flex;
  gap: 0.8rem;

  & img {
    height: 2rem;
  }
}

#nav {
  grid-area: nav;
  position: sticky;
  top: 1.5rem;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: end;

  & a {
    color: var(--text-colour);
    font-size: 1.2rem;
    font-weight: 100;
    padding: 0.5rem 0;
  }

  & a:hover {
    color: palevioletred;
  }

  & hr {
    color: var(--text-colour);
  }
}

#nav-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  & #permanent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & #nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & a {
    color: var(--text-colour-invert);
    font-size: 1.2rem;
    font-weight: 100;
    padding: 0.5rem 0;
  }

  & a:hover {
    color: palevioletred;
  }

  & button {
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    align-items: start;
    line-height: 2rem;
    border: none;
    outline: none;
    background: none;
    
    &.open {
      color: white;
      
    }

    &.closed {
      color: black;
    }
  }
}

#page {
  grid-area: page;
  width: 100%;
  height: 100%;
}

#gallery-flex {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;

  & .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & .item {
    break-inside: avoid;
    width: 100%;
  }

  & .item img {
    width: 100%;
    height: auto;
    display: block;
  }
}

#challenge {
  & .list {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      white-space: pre-line;
      position: relative;
      flex-basis: 100px;
      flex-shrink: 1;
      flex-grow: 1;

      & .details {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  & h2 {
    padding: 0.8rem 0 1rem 0;
  }

  & p {
    mask-image: linear-gradient(180deg, #000 70%, transparent);
    margin: 0;
    max-height: 150px;
    overflow: hidden;
    text-overflow:clip;
  }

  & .snippet {
    height: 150px;
    overflow: hidden;
  }

  & .date {
    position: absolute;
    right: 0px;
    margin: 10px 15px;
    color: rgb(117, 118, 139);
    font-size: x-small;
  }

  & .action {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  & a:hover {
    color: palevioletred;
  }
}

.card-challenge {
  background-color: white;
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.snippet {
  background: #252c3d;
  background: linear-gradient(0deg, rgba(37, 44, 61, 1) 28%, rgba(3, 12, 15, 1) 99%);
  padding: 0;
  transition: min-height 0.5s ease-in-out, max-height 0.5s ease-in-out;
  overflow: hidden;

  & pre {
    margin: 0;
    overflow: hidden;
    padding: 1rem;
    height: 100%;
    box-sizing: border-box;
    animation: fade 0.8s ease;
  }

  & code {
    height: 100%;
    width: 100%;
    background: transparent;
    box-shadow: none;
  }
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

#challenge-detail {
  display: grid; 
  width: 100%;
  height: max-content;
  min-height: 100%;
  grid-template-areas:
    "hero hero hero"
    "tabs tabs rail";
  grid-template-columns: 2fr 100px 1fr;
  grid-template-rows: min-content;
  column-gap: 1svw;

  & .hero-img {
    grid-area: 1 / 1 / 2 / -1;
    height: min-content;
  }

  & h2 {
    margin: 0;
    padding: 0.5rem 0;
    line-height: normal;
  }

  & .challenge-title {
    grid-area: 2 / 1 / 3 / -1;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.5rem 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    & h2 {
      width: 100%;
      font-weight: 900;
      font-size: clamp(1.5rem, 3.3vw, 2.2rem);
      padding: 0;
      color: white;
    }
    & span {
      font-weight: 500;
      padding-left: 1rem;
      color: #aaa;
    }
  } 

  & .tabs {
    grid-area: tabs;

    & .tab-list {
      border: none;
    }
  }

  & .challenge-scope {
    grid-area: scope;
    padding: 0;
    background-color: white;
  }

  & .challenge-code {
    grid-area: code;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2svw;
  }

  & .challenge-design {
    grid-area: design;
    padding: 0;
    background-color: white;
  }

  & .challenge-design > *,
  & .challenge-rail > * {
    margin: 0;
    line-height: normal;
  }

  &.challenge-design > * + *,
  &.challenge-rail > * + * {
    margin-top: 0.75rem;
  }

  & .challenge-rail-top {
    grid-area: rail;
    position: sticky;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: clamp(220px, 20svw, 300px);
    height: max-content;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0.75rem;

    & h2 {
      align-self: flex-start;
    }

    & ol {
      width: 100%;
      margin-bottom: 1rem;
    }

    & .rail-controls {
      display: flex;
      width: 100%;
      justify-content: space-between;

      & * {
        flex: 1;
        text-align: center;
      }
    }
  }

  & .challenge-rail-btm {
    grid-area: rail;
    align-self: flex-end;
    position: sticky;
    bottom: 5svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    margin: 0;
    padding: 0.75rem 0.75rem 0 0.75rem;
    background-color: white;

    & h2 {
      align-self: flex-start;
    }

    & ol {
      width: 100%;
      margin-bottom: 1rem;
    }

    & .rail-controls {
      display: flex;
      width: 100%;
      justify-content: space-between;

      & * {
        flex: 1;
        text-align: center;
      }
    }
  }

  & h3 {
    padding: 0;
    margin: 0.25rem 0;
    font-weight: 400;
  }

  & p {
    padding: 0;
    margin: 0 0 0.5rem 0;
  }

  & ul, ol {
    margin: 0 0 0.5rem 0;
    padding-left: 2.2rem;
    display: block;

    & li {
      margin: 0;
      padding: 0;
    }
  }

  & .tabs .snippet>* {
    padding: min(1rem, calc(1.5svw - 5px));
    overflow-x: hidden;
    width: 100%;
    font-size: clamp(0.6pt, calc(1.5svw - 5px), 1em);
  }

  & table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0.5rem 2rem;
    font-weight: 200;

    & th, td {
      border: 1px solid black;
      padding: 4px 10px;
      text-align: center;
      word-wrap: break-word;
    }
  }

  & strong {
    font-weight: 700;
  }

  & .code-block {
      font-size: larger;
      background-color: rgb(231, 231, 231);
      border-radius: 10px;
      border: 1px solid lightgray;
      padding: 6px;
      margin-bottom: 10px;

      & code {
          white-space: pre;
          display: block;
        }
      }
    }
}

.glass {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 8px 8px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: none;
  box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.2);
}

& .monospace-title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: limegreen;
  filter: drop-shadow(0px 0px 1px black);
  width: 100%;
  line-height: 150%;
}

#canvas-mobile:has([ id="challenge-detail"]) {
  & #challenge-detail {
    font-size: small;
  }
}

#login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .card-login {
    box-sizing: border-box;
    background-color: white;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
    padding: 2rem;

    & * {
      box-sizing: border-box;
    }

    & form {
      max-width: 360px;
      display: "grid";
      gap: 10; 
    }
  }

  & h2 {
    padding: 0.8rem 0 1rem 0;
  }

  & p {
   margin: 0 0 2rem 0; 
  }

  & .error {
    color: red;
    margin: 0;
  }
}

#admin {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "title   session" 
    "content content";
  grid-template-columns: auto max-content;
  grid-template-rows: min-content 1fr;
  gap: 1rem;

  & h2 {
    grid-area: title;
    padding: 0.8rem 0 1rem 0;
  }

  & .session-detail {
    grid-area: session;
    font-size: 12px;
    width: fit-content;
    height: min-content;
    padding: 0.2rem 0.8rem;
    margin: 0;
    background-color: white;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
    justify-self: flex-end;
  }

  & a {
    font-weight: 400;
    text-decoration: underline;
  }

  a:hover {
    color: palevioletred;
  }

  & .tabs {
    grid-area: content;
    width: 100%;
    height: 100%;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .tab-list {
    display: flex;
    margin: 0;
    border-top: 1px solid var(--text-colour);

    & .tab-btn {
      flex: 1;
      box-sizing: border-box;
      border-radius: 0;
      padding: 0.3rem 1rem 0.5rem 1rem;
      margin: 0;
      cursor: pointer;
      font-weight: 200;
      border: none;
      border-right: 1px solid white;
      
      border-bottom: 4px solid white;
      transition: background-color 0.25s, color 0.25s;
    }

    & .tab-btn:hover {
      background-color: rgb(128, 63, 85);
      color: white;
    } 

    & .tab-btn[aria-selected="true"] {
      background-color: palevioletred;
      border-top: 2px solid palevioletred;
      border-bottom: 2px solid palevioletred;
    }
  } 
}

#panel-challenge {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .controls {
    display: grid;
    grid-template-areas:
    "message newbtn refreshbtn";
    grid-template-columns: 1fr auto auto;
    gap: 0.5rem;
    align-items: center;
    height: min-content;

    & button {
      padding: 0;
      margin: 0;
      font-size: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
    }

    & .msg {
      grid-area: message;
      margin: 0;
      font-size: 0.9rem;
      justify-self: left;
    }

    & .newbtn {
      grid-area: newbtn;
    }

    & .refreshbtn {
      grid-area: refreshbtn;
    }
  }

  & .challenge-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & li {
    background-color: white;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
    padding: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-areas:
    "title controls"
    "details controls";
    grid-template-columns: 1fr min-content;

    & .title {
      grid-area: title;
      font-weight: 500;
      font-size: 1.2rem;
      margin: 0;
    }

    & .tooltiptext {
      visibility: hidden;
      width: 130px;
      background-color: black;
      color: #ffffff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 100;
      top: -5px;
      left: 105%;
    }

    & button:hover .tooltiptext {
      visibility: visible;
    }

    & .controls {
      grid-area: controls;
      display: flex;
      gap: 0.5rem;
      justify-items: end;
      align-content: center;
    }

    & .danger {
      background-color: palevioletred;
      border-color: palevioletred;
    }

    & .details {
      grid-area: details;
    }
  }

  & .editor {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    & * {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      resize: vertical;
      width: 100%;
    }

    & label:has(input[type="checkbox"]) {
      width: max-content;
      flex-direction: row;
      gap: 0.5rem;

      & * {
        width: max-content;
      }
    }

    & .editor-controls {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}

div[id*=panel-] {
  width: 100%;
}

/* #panel-code {
  --bg: rgb(76, 76, 76);
  background-color: none;
  box-shadow: none;

  & code[class*=language-],
    .token {
    background-color: var(--bg);
    box-shadow: 0.3em 0 0 .3em var(--bg);
  }
} */

#foot {
  grid-area: foot;
  width: 100%;
  height: 100%;
  justify-items: center;
  font-size: smaller;
}
