#root {
  width: 100vw;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  padding: 2em;
}

#canvas {
  min-height: 100%;
  display: grid;
  grid-template: 1fr 10fr auto / auto  1fr;
  grid-template-areas: 
    "title page"
    "nav   page"
    "foot  foot";
  gap: 1rem;
}

#title {
  grid-area: title;
  width: 100%;
  height: 100%;
  background-color: orange;
}

#nav {
  grid-area: nav;
  width: 100%;
  height: 100%;
  background-color: pink;
}

#page {
  grid-area: page;
  width: 100%;
  height: 100%;
  background-color: blue;
}

#foot {
  grid-area: foot;
  width: 100%;
  height: 100%;
  justify-items: center;
  font-size: smaller;
}


