#root {
  width: 100vw;
  min-height: 100%;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  padding: 2em;
}

#canvas {
  padding: 2rem;
  min-height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template: auto 1fr auto / auto  1fr;
  grid-template-areas: 
    "title page"
    "nav   page"
    "foot  foot";
  gap: 2rem;
}

#canvas-mobile {
  min-height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template: auto 1fr auto / auto;
  grid-template-areas: 
    "nav"
    "page"
    "foot";
  gap: 1rem;
}

h1, h2 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 0.78;
  margin: 0;

  & span {
    font-size: 2.2rem;
  }
}

p {
  font-weight: 200;
  line-height: 1.6rem;
  letter-spacing: 0.5px;
}

#title {
  grid-area: title;
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  display: flex;
  gap: 0.8rem;

  & img {
    height: 2rem;
  }
}

#nav {
  grid-area: nav;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;

  & a {
    color: var(--text-colour);
    font-size: 1.2rem;
    font-weight: 100;
    padding: 0.5rem 0;
  }

  & a:hover {
    color: palevioletred;
  }

  & hr {
    color: var(--text-colour);
  }
}

#nav-bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  & #permanent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & #nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & a {
    color: var(--text-colour-invert);
    font-size: 1.2rem;
    font-weight: 100;
    padding: 0.5rem 0;
  }

  & a:hover {
    color: palevioletred;
  }

  & button {
    padding: 0;
    font-size: 2.5rem;
    align-items: start;
    line-height: 2rem;
    border: none;
    outline: none;
    background: none;
    
    &.open {
      color: white;
      
    }

    &.closed {
      color: black;
    }
  }
}

#page {
  grid-area: page;
  width: 100%;
  height: 100%;
}

#gallery-flex {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;

  & .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & .item {
    break-inside: avoid;
    width: 100%;
  }

  & .item img {
    width: 100%;
    height: auto;
    display: block;
  }
}

#challenge {

  & .list {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      white-space: pre-line;
      position: relative;

      & div{
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  & h2 {
    padding: 0.8rem 0 1rem 0;
  }

  & p {
    mask-image: linear-gradient(180deg, #000 70%, transparent);
    margin: 0;
    height: 150px;
    overflow: hidden;
    text-overflow:clip;
  }

  & .snippet {
    height: 150px;
    overflow: hidden;
  }

  & .snippet-text {
    height: 100%;
  }

  & .date {
    position: absolute;
    right: 0px;
    margin: 10px 15px;
    color: rgb(117, 118, 139);
    font-size: x-small;
  }

  & .action {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    
  }
}

.card-challenge {
  background-color: white;
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

.snippet {
  background: #252c3d;
  background: linear-gradient(0deg, rgba(37, 44, 61, 1) 28%, rgba(3, 12, 15, 1) 99%);
  color: white;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;

  & pre {
    margin: 0;
    overflow: hidden;
  }

  & .span-blue {
    color: cornflowerblue;
  }

  & .span-purple {
    color: rgb(225, 81, 225);
  }

  & .span-yellow {
    color: yellow;
  }

  & .span-cream {
    color: rgb(249, 249, 153);
  }

    & .span-turq {
    color: turquoise;
  }
}

#foot {
  grid-area: foot;
  width: 100%;
  height: 100%;
  justify-items: center;
  font-size: smaller;
}

